@use 'src/styles/vars.scss';

.cart {
  // background-color: rgba(#000, 0.4);
  // background-color: darken(vars.$color-2-rgb, 10);
  background: linear-gradient(0deg, vars.$color-4, vars.$color-2);
  min-width: 18rem;
  border-radius: 10px;
  // @media screen and (min-width: 900px) {
  //   background-color: darken(vars.$color-2-rgb, 10);
  // }
  section {
    padding: 0.5rem;
  }
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  &-content {
    margin: 10px;
    &-list {
      margin: 10px;
      &-element {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &-total {
      margin-bottom: 10px;
    }
  }
  &-orderBtn {
    margin-left: 20%;
  }
}
