@use 'src/styles/vars.scss';

.order {
  &-title {
    text-align: center;
  }
  &-btn {
    background-color: vars.$color-3;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid vars.$color-3;
    box-shadow: 2.5px 2.5px 2.5px rgba(#000, 0.4);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: vars.$white;
    margin-bottom: 0.5rem;
    max-width: 10rem;
    align-self: flex-end;
    &:hover,
    &:active {
      background-color: vars.$color-4;
      color: vars.$white;
    }
    &--card {
      position: relative;
      top: -45px;
      right: -8rem;
    }
  }

  &-content {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      margin-left: 1rem;
    }
  }
}
