$white: #ebf2faff;
$color-primary: #003b5cff;
$color-2: #f2bb05ff;
$color-3: #6e0e0aff;
$color-4: #d74e09ff;

$white-rgb: rgba(235, 242, 250, 1);
$color-primary-rgb: rgba(0, 59, 92, 0.8);
$color-2-rgb: rgba(242, 187, 5, 1);
$color-3-rgb: rgba(110, 14, 10, 1);
$color-4-rgb: rgba(215, 78, 9, 0.6);
