@use 'src/styles/vars';

.card {
  width: 16rem;
  overflow: hidden;
  background-color: vars.$white;
  color: vars.$color-primary;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  &-title {
    font-size: 1.2rem;
    text-align: center;
    margin: 0.2rem 0;
  }
  &-picture {
    display: block;
    min-width: 100%;
    height: 200px;
    position: center;
    object-fit: cover;
  }
  &-left {
    width: 100%;
  }
  &-right {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    position: relative;
  }
  &-list {
    & :nth-child(1) {
      font-weight: bold;
      color: vars.$white;
      background-color: vars.$color-4;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      padding: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -20px;
      right: 5px;
    }
  }
  &-btn {
    background-color: vars.$color-3;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid vars.$color-3;
    box-shadow: 2.5px 2.5px 2.5px rgba(#000, 0.4);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: vars.$white;
    margin-bottom: 0.5rem;
    &:hover,
    &:active {
      background-color: vars.$color-4;
      color: vars.$white;
    }
  }
}
