@use 'src/styles/vars';

.footer {
  padding: 1rem;
  text-align: center;
  &-social {
    display: flex;
    justify-content: center;
    &-link {
      margin-left: 1rem;
      font-size: 2rem;
      &:hover {
        color: vars.$color-2;
      }
    }
  }
  &-copyright {
    margin-top: 0.5rem;
  }
}
