@use 'src/styles/vars';

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.app {
  width: 100vw;
  min-height: 100vh;
  background-color: vars.$color-primary;
  color: vars.$white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  background-color: vars.$color-3;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: vars.$box-shadow;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 2ms ease-in-out;
  &:hover,
  &:active {
    background-color: vars.$color-4;
  }
}
