@use 'src/styles/vars.scss';

.nav {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: popup 0.2s ease-in;

  &-left {
    padding-left: 2rem;
  }

  &-right {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    &-list {
      &-link {
        margin-left: 1rem;
        font-weight: 900;
        &:hover {
          color: vars.$color-4;
        }
        &--order {
          background-color: vars.$color-3;
          padding: 1rem;
          border-radius: 10px;
          border: 1px solid vars.$color-3;
          box-shadow: 2.5px 2.5px 2.5px rgba($color: #000000, $alpha: 0.5);
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: vars.$color-4;
            color: vars.$white;
          }
        }
        &--active {
          color: vars.$color-4 !important;
        }
      }
    }
  }
}
